body{
    margin:0;
    padding:0;
    height:100vh;

}
@media only screen and (max-width: 800px) {
    .large-container{
        display:none;
    }

    .top-panel{
        background-color: rgb(253, 208, 215);
        width:100%;
        height:5%;
        font-size: larger;
        font-weight: bold;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;


    }
    .container-phone{
        display: block;
        padding-left: 2%;
        padding-right: 2%;
        height:100%;
        width:auto;
        display:flex;
        align-items: center;
        flex-direction: column;
       
    
    }
    .grid{
       
        width:95%;
        height:50%;
        margin-top: 5%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:0.4rem;
        
    }
    .graph-1{
        background-color: rgb(245, 245, 245);
        border-radius: 1.2rem;
        display:flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    
    }
    
    .graph-2{
        background-color: rgb(255, 255, 255);
        border-radius: 1.2rem;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    }
    .graph-3{
        background-color: rgb(255, 254, 247);
        border-radius: 1.2rem;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    }
    .graph-4{
        background-color: rgb(255, 255, 255);
        border-radius: 1.2rem;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    }
    .list{
        font-weight: bold;
        width:90%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height:90%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }
    .stack-bar{
        margin-top: 10%;
        width:90%;
        height:60%;
        background-color: rgb(251, 249, 251);
        display:flex;
        justify-content: center;
        border-radius: 1.2rem;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
       
       
    }
   
    .path
    {
        fill:none;
        stroke:deeppink;
        stroke-width:5;
    }
    .list-el{
        display:flex;

      
        width:90%;
        height:15%;
        margin-top: 3%;
    
    }
    .text-info{
        color:rgb(88, 88, 88);
        font-size: 0.9rem;
    }

    .color{
        background-color: rgb(2, 8, 2);
        width:6%;
        height:30%;
        border-radius: 50%;
        margin-top: 2%;
        
    }
   span{
       margin-left: 6%;
       
   }

   .dummy-container{
       width:90%;
       height:40%;
       background-color: brown;
       display:flex;
       flex-direction: column;

   }
   .dummy-item{
       width:90;
       height:20%;
       background-color: cornflowerblue;
   }
   .footer{
       width:100%;
       height:2rem;
       background-color: rgb(1, 1, 5);
       margin-top: 30%;
   }


}




@media only screen and (min-width: 700px) {
    .container-phone{
        display: none;
    }
    .large-container{
     
        width:75%;
        height:85%;
        
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
     display:flex;
     flex-direction: column;
        transform: translate(-50%, -50%); /* This is a shorthand of
                                             translateX(-50%) and translateY(-50%) */
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width:100%;
        height: 40%;
        grid-gap:2%;
        
        
    }
    .lower-section{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:100%;
        height:60%;
       
    }

    .top-panel{
        display:none;
    }
  
    .chart-container{
        width:80%;
        height:90%;
        display:flex;
        justify-content: center;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
       border-radius: 1.2rem;

        background-color: rgb(255, 255, 255);
    }
   
    .grid-el-lg{
        background-color: rgb(251, 251, 251);
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    
    .half-chart-container{
        width:80%;
        height:90%;
        display:flex;
        justify-content: center;
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
       border-radius: 1.2rem;
       display: flex;
       justify-content: center;
       align-items:center;

        background-color: rgb(255, 255, 255);

    }
   

    .list{
        font-weight: bold;
        width:90%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height:90%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }

    .list-el{
        display:flex;

      
        width:100%;
        height:15%;
        margin-top: 3%;
       
    
    }
    .text-info{
        margin-left: 2%;
        color:rgb(88, 88, 88);
        font-size: 0.9rem;
        
        margin-left: 5%;
    }

    .color{
        
        background-color: rgb(2, 8, 2);
        width:6%;
        height:30%;
        border-radius: 50%;
        margin-top: 2%;
        margin-right: 5%;
        
    }
    .list-section{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .list-container{
        width:90%;
        height: 85%;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
        margin-top:6%;
        border-radius: 1.2rem;
        display:flex;
        flex-direction: column;
    }
    
  .li-element{
      width:100%;
      height:20%;
      
      display:flex;
      justify-content: space-evenly;
      align-items: center;
     
      overflow: hidden;
  }
  .name{
      font-weight: bold;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .role{
      color:rgb(112, 112, 112);
      font-weight:bold;
  }
  .status{
      padding:1%;
      font-weight: 900;
      
      border-radius: 1.2rem;
      width:10%;
      text-align: center;
  }
.first-element{
    border:none;
}
   
    .bar-graph{
        
       margin-top: 5%;
        
        box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
       border-radius: 1.2rem;
      

        background-color: rgb(255, 255, 255);

        
    }
    .bar-graph-container{
        width:50%;
    }
    }

